@import '../../shared/styles/media-query.scss';

.header-container {
  position: fixed;
  top: 25px;
  z-index: 900;
  width: 100vw;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
  background-color: rgb(248, 248, 248);
  padding: 0;
  display: flex;
  justify-content: center;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    max-width: 1400px;
    @include respond('tab-901-to-1420') {
      width: 90%;
    }
    @include respond('phone-md-lg') {
      display: none;
    }
    @include respond('tab-port') {
      display: none;
    }
  }
}
