@import '../../components/BaseLayout/base-layout.scss';
@import '../../components/Backdrop/backdrop.scss';
@import '../../components/Card/card.scss';
@import '../../components/Hamburger/hamburger.scss';
@import '../../components/Header/header.scss';
@import '../../components/SectionTitle/section-title.scss';
@import '../../components/SideDrawer/sidedrawer.scss';
@import '../../components/Skillset/skillset.scss';
@import './about.scss';
@import './blog.scss';
@import './contact.scss';
@import './home.scss';
@import './portfolio.scss';
@import './timeline.scss';
@import './video.scss';
@import './media-query.scss';

h1 {
  font-size: 36px;
  @include respond(desktop) {
    font-size: 34px;
  }
  @include respond(tab-land) {
    font-size: 32px;
  }
  @include respond(tab-port) {
    font-size: 30px;
  }
  @include respond(phone-lg) {
    font-size: 28px;
  }
  @include respond(phone-md) {
    font-size: 24px;
  }
}

h2 {
  font-size: 24.66px;
  @include respond(desktop) {
    font-size: 22px;
  }
  @include respond(tab-land) {
    font-size: 20px;
  }
  @include respond(tab-port) {
    font-size: 18px;
  }
  @include respond(phone-lg) {
    font-size: 16px;
  }
  @include respond(phone-md) {
    font-size: 12px;
  }
}

h3 {
  font-size: 20px;
}

.mt-20 {
  margin-top: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.p-10 {
  padding: 10px;
}
.p-relative {
  position: relative;
}

.empty-container {
  width: 100%;
  height: 100px;
}

.section-container {
  width: 100%;
  max-width: 1400px;
  margin: 70px auto 0;
  @include respond('phone-md-lg') {
    width: 90%;
  }
  @include respond('tab-port') {
    width: 90%;
  }
  @include respond('tab-901-to-1420') {
    width: 90%;
  }
}
