.base-layout-container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.temporary-info {
  position: fixed;
  width: 100%;
  height: 25px;
  top: 0;
  z-index: 999;
  background-color: salmon;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
}
